In [1]:
#Q1. pyhton program to print all odd numbers in a list

In [5]:
def odd_numbers(numbers):
  for num in numbers:
    if num % 2 != 0:
      print(num)

In [7]:
numbers= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print("odd numbers in list:")
odd_numbers(numbers)

odd numbers in list:
1
3
5
7
9

In [8]:
#Q2: python program to find the sum of list elements

In [9]:
def calculate_sum(list):
  sum_of_elements= sum(list)
  return sum_of_elements

In [11]:
list=[1,1,1,1,1]
sum_of_numbers=calculate_sum(list)
print("sum of list:", sum_of_numbers)

sum of list: 5

In [12]:
#Q3= python program to reverse a list in two ways

In [14]:
# 1st way
cities=["karachi","lahore","islamabad","Quetta"]
cities=cities[ : : -1]
print(cities)

['Quetta', 'islamabad', 'lahore', 'karachi']

In [15]:
# 2nd way
cities=["karachi","lahore","islamabad","Quetta"]
cities.reverse()
print(cities)

['Quetta', 'islamabad', 'lahore', 'karachi']

In [16]:
#Q4= python program to find the top 2 maximum in a list

In [19]:
list=[1,2,3,4,5,6,7,8,9]
list.sort()
print(list)
list.reverse()
print(list)
print(list[0])
print(list[1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
9
8

In [20]:
#Q5= find the second highest number in a  integer list

In [21]:
list=[5,10,15,20,25]
list.sort()
print(list)
list=list[-2]
print(list)

[5, 10, 15, 20, 25]
20

In [22]:
#Q6= python program to sort characters in decsending order

In [23]:
list=[5,7,6,2,3,1]
list.sort()
print(list)
list.reverse()
print(list)

[1, 2, 3, 5, 6, 7]
[7, 6, 5, 3, 2, 1]

In [24]:
#Q9= python program to calculate factorial

In [36]:
def factorial(num):
  fact= 1
  for i in range(1,num+1):
    fact = fact*i
  print(fact)
factorial(4)

24

In [34]:
#Q10: pythpon program to merge two list

In [38]:
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]
print(list1 + list2)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [39]:
#Q8: check given character is a vowel or constant

In [42]:
vowels = 'aeiou'
v=input("enter any alphabet:")
if v in vowels:
  print("Your alphabet is a vowel" )
else:
    print("your alphabet is constant")

enter any alphabet:b
your alphabet is constant

In [43]:
#Q7: python program to remove duplicate chracters from string

In [45]:
S= 'PPPMMM'
S= ''. join(set(S))
print(S)

PM